# Object files
*.o
*.ko
*.obj
*.elf

# Borland C++ 5.5 files
/mswin/bcpp55/bin
/mswin/bcpp55/obj

# Visual Studio Code files
.vscode

# Visual Studio 2017 Files
*.user
/xp/vs2017/.vs
/xp/vs2017/Debug
/xp/vs2017/Release
/xp/vs2017/x64