# Object files
*.o
*.ko
*.obj
*.elf

# Borland C++ 5.5 files
*.map
/mswin/bcpp55/bin
/mswin/bcpp55/obj
/nt/bcpp55/bin
/nt/bcpp55/obj
/xp/bcpp55/bin
/xp/bcpp55/obj

# Visual Studio Code files
.vscode

# Visual Studio 2017 Files
*.aps
*.user
/mswin/vs2017/.vs
/mswin/vs2017/Debug
/mswin/vs2017/Release
/mswin/vs2017/x64
/xp/vs2017/.vs
/xp/vs2017/Debug
/xp/vs2017/Release
/xp/vs2017/x64