#include    <windows.h>
#include    "mswrid.h"

ScreenCursor        CURSOR  "mswcur.cur"
NotQuiescentCursor  CURSOR  "mswnot.cur"
Grinder1            CURSOR  "mswgrin1.cur"
Grinder2            CURSOR  "mswgrin2.cur"
Grinder3            CURSOR  "mswgrin3.cur"
Grinder4            CURSOR  "mswgrin4.cur"
Grinder5            CURSOR  "mswgrin5.cur"
Grinder6            CURSOR  "mswgrin6.cur"
Grinder7            CURSOR  "mswgrin7.cur"
Grinder8            CURSOR  "mswgrin8.cur"
AppIcon             ICON    "mswapp.ico"
ScreenIcon          ICON    "mswscr.ico"
WaitIcon            ICON    "mswwait.ico"

#include    "mswmenu.h"
#include    "mswmenu.rc"
#include    "mswfile.dlg"
#include    "mswabout.dlg"
#include    "mswfonts.dlg"
#include    "mswmodes.dlg"
#include    "mswprg.dlg"
#include    "mswmlh.dlg"
