MENU MENU PRELOAD MOVEABLE DISCARDABLE 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open...", IDM_FILEFIND
		MENUITEM "&View...", IDM_VIEWFILE
		MENUITEM "&Insert...", IDM_INSFILE
		MENUITEM "&Read over...", IDM_FILEREAD
		MENUITEM "Re&name...", IDM_FILENAME
		MENUITEM SEPARATOR
		MENUITEM "&Save", IDM_FILESAVE
		MENUITEM "Save &As...", IDM_FILEWRITE
		MENUITEM "A&ppend...", IDM_FILEAPP
		MENUITEM SEPARATOR
		MENUITEM "Encr&yption key :", IDM_SETEKEY
		MENUITEM SEPARATOR
		POPUP "&Buffer"
		BEGIN
			MENUITEM "&Next", IDM_NEXTBUFFER
			MENUITEM "&Select :", IDM_USEBUFFER
			MENUITEM "&Unmark", IDM_UNMARK
			MENUITEM "&Rename :", IDM_NAMEBUFFER
			MENUITEM "&Delete :", IDM_KILLBUFFER
			MENUITEM SEPARATOR
			MENUITEM "Narrow to &region", IDM_NARROW
			MENUITEM "&Widen from region", IDM_WIDEN
			MENUITEM SEPARATOR
			MENUITEM "&List", IDM_LISTBUFFERS
		END

		POPUP "&Window"
		BEGIN
			MENUITEM "&Split", IDM_SPLITWIND
			MENUITEM "&Delete", IDM_DELWIND
			MENUITEM "Delete &others", IDM_ONLYWIND
			MENUITEM "&Next", IDM_NEXTWIND
			MENUITEM "&Previous", IDM_PREVWIND
			POPUP "Scrol&l"
			BEGIN
				MENUITEM "= &Up", IDM_MVUPWIND
				MENUITEM "= &Down", IDM_MVDNWIND
				MENUITEM "= Next u&p", IDM_NEXTUP
				MENUITEM "= Next d&own", IDM_NEXTDOWN
			END

			POPUP "Si&ze"
			BEGIN
				MENUITEM "= &Grow", IDM_ENLARGEWIND
				MENUITEM "= &Shrink", IDM_SHRINKWIND
				MENUITEM "= &Height", IDM_RESIZE
			END

		END

		MENUITEM "&Mode...", IDM_MODE
		MENUITEM "&Global mode...", IDM_GLOBMODE
		MENUITEM SEPARATOR
		MENUITEM "Save + &exit", IDM_QUICKEXIT
		MENUITEM "E&xit", IDM_QUIT
	END

	POPUP "&Edit"
	BEGIN
		POPUP "&Clipboard"
		BEGIN
			MENUITEM "Cu&t region", IDM_CUTREGION
			MENUITEM "&Copy region", IDM_CLIPREGION
			MENUITEM "&Paste", IDM_INSERTCLIP
		END

		POPUP "&Mark"
		BEGIN
			MENUITEM "&Set", IDM_SETMARK
			MENUITEM "&Remove", IDM_REMMARK
			MENUITEM "&Exchange", IDM_SWAPMARK
		END

		MENUITEM "&Yank", IDM_YANK
		MENUITEM SEPARATOR
		POPUP "&Region"
		BEGIN
			MENUITEM "&Kill", IDM_KILLREGION
			MENUITEM "&Copy", IDM_COPYREGION
			MENUITEM SEPARATOR
			MENUITEM "&Upper case", IDM_UPPERREGION
			MENUITEM "&Lower case", IDM_LOWERREGION
			MENUITEM SEPARATOR
			MENUITEM "&Entab", IDM_ENTAB
			MENUITEM "&Detab", IDM_DETAB
			MENUITEM "&Trim", IDM_TRIM
			MENUITEM "&Indent", IDM_INDENT_REGION
			MENUITEM "&Undent", IDM_UNDENT_REGION
			MENUITEM SEPARATOR
			MENUITEM "Count &words", IDM_WORDCOUNT
		END

		POPUP "Paragrap&h"
		BEGIN
			MENUITEM "&Kill", IDM_KILLPARA
			MENUITEM "&Fill", IDM_FILLPARA
		END

		POPUP "&Line"
		BEGIN
			MENUITEM "&Kill to end", IDM_KILLTEXT
			MENUITEM "&Open", IDM_OPENLINE
		END

		POPUP "&Word"
		BEGIN
			MENUITEM "Kill &next", IDM_DELFWORD
			MENUITEM "Kill &previous", IDM_DELBWORD
			MENUITEM SEPARATOR
			MENUITEM "&Capitalize", IDM_CAPWORD
			MENUITEM "&Lower case", IDM_LOWERWORD
			MENUITEM "&Upper case", IDM_UPPERWORD
		END

		MENUITEM SEPARATOR
		MENUITEM "Delete &blank lines", IDM_DEBLANK
		MENUITEM "&Transpose characters", IDM_TWIDDLE
		MENUITEM "T&ab", IDM_TAB
		MENUITEM "&Quote", IDM_QUOTE
		MENUITEM SEPARATOR
		MENUITEM "= &Fill column", IDM_SETFILLCOL
	END

	POPUP "&Search"
	BEGIN
		MENUITEM "Search &forward :", IDM_FORWSEARCH
		MENUITEM "Search &backward :", IDM_BACKSEARCH
		MENUITEM "Hunt f&orward", IDM_FORWHUNT
		MENUITEM "Hunt b&ackward", IDM_BACKHUNT
		MENUITEM "&Incremental search :", IDM_FISEARCH
		MENUITEM "Re&verse incremental :", IDM_RISEARCH
		MENUITEM SEPARATOR
		MENUITEM "&Replace :", IDM_SREPLACE
		MENUITEM "&Query Replace :", IDM_QREPLACE
		MENUITEM SEPARATOR
		POPUP "&Goto"
		BEGIN
			MENUITEM "&Mark", IDM_GOTOMARK
			MENUITEM "&Line", IDM_GOTOLINE
			MENUITEM "Matching &Fence", IDM_GETFENCE
			MENUITEM "&Beginning of file", IDM_GOTOBOB
			MENUITEM "&End of file", IDM_GOTOEOB
		END

		POPUP "&Page"
		BEGIN
			MENUITEM "&Next", IDM_FORWPAGE
			MENUITEM "&Previous", IDM_BACKPAGE
		END

		POPUP "Paragrap&h"
		BEGIN
			MENUITEM "&Next", IDM_GOTOEOP
			MENUITEM "&Previous", IDM_GOTOBOP
		END

		POPUP "&Line"
		BEGIN
			MENUITEM "&Next", IDM_FORWLINE
			MENUITEM "&Previous", IDM_BACKLINE
			MENUITEM "&Beginning of", IDM_GOTOBOL
			MENUITEM "&End of", IDM_GOTOEOL
		END

		POPUP "&Word"
		BEGIN
			MENUITEM "&Next", IDM_FORWWORD
			MENUITEM "&Previous", IDM_BACKWORD
			MENUITEM "&End of", IDM_ENDWORD
		END

	END

	POPUP "E&xecute"
	BEGIN
		MENUITEM "&Windows program :", IDM_EXECPRG
		MENUITEM "Shell &program :", IDM_SPAWN
		MENUITEM "Pipe-&in :", IDM_PIPECMD
		MENUITEM "&Filter :", IDM_FILTER
		MENUITEM "&Shell", IDM_SPAWNCLI
		MENUITEM SEPARATOR
		POPUP "&EMACS command"
		BEGIN
			MENUITEM "&Named command :", IDM_NAMEDCMD
			MENUITEM "&Command line :", IDM_EXECCMD
			MENUITEM "&Procedure :", IDM_EXECPROC
			MENUITEM "&Buffer :", IDM_EXECBUF
			MENUITEM "&File...", IDM_EXECFILE
		END

		POPUP "&Keyboard macro"
		BEGIN
			MENUITEM "&Play", IDM_CTLXE
			MENUITEM "&Start recording", IDM_CTLXLP
			MENUITEM "&End recording", IDM_CTLXRP
		END

		MENUITEM "&Abort command", IDM_CTRLG
	END

	POPUP "&Miscellaneous"
	BEGIN
		POPUP "&Key bindings"
		BEGIN
			MENUITEM "Bind to &Command :", IDM_BINDTOKEY
			MENUITEM "Bind to &Macro :", IDM_MACROTOKEY
			MENUITEM "&Unbind :", IDM_UNBINDKEY
			MENUITEM SEPARATOR
			MENUITEM "&Describe key :", IDM_DESKEY
			MENUITEM "&List", IDM_DESBIND
		END

		POPUP "&Menu bindings"
		BEGIN
			MENUITEM "Bind to &Command :", IDM_BINDTOMENU
			MENUITEM "Bind to &Macro :", IDM_MACROTOMENU
			MENUITEM "&Unbind :", IDM_UNBINDMENU
		END

		POPUP "&Variable"
		BEGIN
			MENUITEM "&Set :", IDM_SETVAR
			MENUITEM "&Display :", IDM_DISPVAR
			MENUITEM SEPARATOR
			MENUITEM "&List", IDM_DESVARS
		END

		MENUITEM SEPARATOR
		MENUITEM "Show &position", IDM_SHOWCPOS
	END

	POPUP "S&creen"
	BEGIN
		MENUITEM "&Cascade", IDM_CASCADE
		POPUP "&Tile"
		BEGIN
			MENUITEM "&Horizontally", IDM_TILE_HORIZONTALLY
			MENUITEM "&Vertically", IDM_TILE_VERTICALLY
		END
		MENUITEM "&Arrange Icons", IDM_ARRANGEICONS
		MENUITEM SEPARATOR
		MENUITEM "&Open :", IDM_FIND_SCREEN
		MENUITEM "Re&name :", IDM_RENAME_SCREEN
		POPUP "Si&ze"
		BEGIN
			MENUITEM "= &Height", IDM_NEWSIZE
			MENUITEM "= &Width", IDM_NEWWIDTH
			MENUITEM "&Normalize", IDM_NORMALIZE
		END

		MENUITEM "&Font...", IDM_FONT
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&Index", IDM_WHELPINDEX
		MENUITEM "&Keyboard", IDM_WHELPKEYBOARD
		MENUITEM "&Commands", IDM_WHELPCOMMANDS
		MENUITEM "&Procedures", IDM_WHELPPROCEDURES
		MENUITEM SEPARATOR
		POPUP "&List"
		BEGIN
			MENUITEM "&Key bindings", IDM_DESBIND
			MENUITEM "&Functions", IDM_DESFUNC
			MENUITEM "&Variables", IDM_DESVARS
			MENUITEM "&Buffers", IDM_LISTBUFFERS
		END

		MENUITEM "Apr&opos :", IDM_APRO
		MENUITEM "&Describe key :", IDM_DESKEY
		MENUITEM "Display &variable :", IDM_DISPVAR
		MENUITEM SEPARATOR
		MENUITEM "&About...", IDM_ABOUT
#ifdef  IDM_DEBUG
		MENUITEM "Break to &debugger", IDM_DEBUG
#endif
	END

END
